@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply max-w-sm max-h-screen;
}

body {
  @apply font-display overflow-hidden max-w-sm max-h-screen;
}

.login-container {
  @apply text-white flex flex-col h-screen w-screen justify-center items-center bg-clrMain-100;
}

.container-intro {
  @apply pb-3;
}

.container-buttons {
  @apply flex pb-20;
}

.text-intro {
  @apply text-center p-9 font-display text-lg;
}

.btn-home {
  @apply focus:outline-none
  text-black
  bg-yellow-400
  hover:bg-yellow-500
  focus:ring-4
  focus:ring-yellow-300
  font-medium
  rounded-lg
  text-sm
  px-5
  py-2.5
  mr-2
  mb-2
  dark:focus:ring-yellow-900
  w-40
}

.form-container {
  @apply text-white flex flex-col gap-5 self-center;
}

.input-login {
  @apply bg-gray-50 
  border 
  border-white
  text-gray-900
  text-sm 
  rounded-lg
  focus:border-white
  block w-full
  p-2.5
  dark:bg-white bg-opacity-50
  dark:border-gray-400
  dark:placeholder-gray-400
}

.btn-login {
  @apply focus:outline-none
  text-black
  bg-yellow-400
  hover:bg-yellow-500
  focus:ring-4
  focus:ring-yellow-300
  font-medium
  rounded-lg
  text-sm
  px-5
  py-2.5
  mr-2
  mb-2
  dark:focus:ring-yellow-900
}

.container-header {
  @apply bg-clrMain-100 max-h-20 w-screen flex justify-between items-center;
}

.logo-secondary {
  @apply w-32 m-2;
}

.toggle {
  @apply w-10 h-10 mr-3 bg-white rounded-full flex justify-center items-stretch z-20;
}

.toggle::before {
  border-radius: 3px;
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: orangered;
  transform: translateY(14px);
  transition: 1s ease-in-out;
}

.toggle::after {
  border-radius: 3px;
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #ff5733;
  transform: translateY(22px);
  transition: 1s ease-in-out;
}

.toggle.active::before {
  transform: translateY(18px) rotate(-405deg);
}

.toggle.toggle.active::after {
  transform: translateY(18px) rotate(225deg);
}

.container-menu {
  @apply w-48 h-screen bg-clrMain-50 top-0 right-0 absolute drop-shadow-xl z-10;
}

.container-meals {
  @apply h-screen;
}

.container-list-menu {
  @apply mt-20 flex flex-col h-screen relative;
}

.list-items {
  @apply flex text-white gap-3 ml-3 items-center mb-8 text-lg;
}

.icon-menu {
  @apply text-2xl;
}

.opt-logout {
  @apply absolute bottom-24;
}

.container-title {
  @apply w-full flex items-center justify-center;
}

.box-title {
  @apply bg-clrMain-100 text-white text-2xl w-2/4 my-1 p-1 flex items-center justify-center gap-2 rounded-lg;
}

.box-search {
  @apply flex flex-col justify-center w-screen items-center mt-2;
}

.label-search {
  @apply border-solid border-2 border-clrMain-100 rounded-lg p-1 w-11/12;
}

.label-search-show {
  @apply border-solid border-2 border-clrMain-100 rounded-t-lg p-1 w-11/12;
}

.input-search {
  @apply w-full border-none outline-none px-2;
}

.search-type {
  @apply flex flex-col justify-center items-center bg-clrMain-100 w-11/12 rounded-b-lg drop-shadow-md;
}

.container-filter {
  @apply flex justify-center items-center gap-7 text-white text-lg w-screen;
}

.radio_filter {
  @apply mr-1;
}

.btn-search {
  @apply bg-white text-clrMain-100 m-3 w-48 rounded-sm font-semibold text-lg;
}

.container-type-filter {
  @apply w-screen mt-3 flex flex-col justify-start;
}

.icon-filter {
  @apply text-3xl text-clrMain-100;
}

.filters {
  @apply h-24 flex flex-wrap justify-center items-center gap-2;
}

.category {
  @apply bg-clrMain-50 text-white px-1 rounded-md;
}
