@tailwind base;
@tailwind components;
@tailwind utilities;

/* <------------ tela de login ------------> */
.login-container {
  background: #ff5733;
  @apply text-white flex flex-col h-screen justify-center;
}

.form-container {
  @apply text-white flex flex-col gap-5 self-center;
}

.input-login {
  @apply bg-gray-50 
  border 
  border-white
  text-gray-900 
  text-sm 
  rounded-lg
  focus:border-white
  block w-full
  p-2.5
  dark:bg-white bg-opacity-50
  dark:border-gray-400
  dark:placeholder-gray-400
  dark:text-white
}

.btn-login {
  @apply focus:outline-none
  text-black
  bg-yellow-400
  hover:bg-yellow-500
  focus:ring-4
  focus:ring-yellow-300
  font-medium
  rounded-lg
  text-sm
  px-5
  py-2.5
  mr-2
  mb-2
  dark:focus:ring-yellow-900
}
/* <------------ tela de login ------------> */


